<div id="termes" class="col text-white">
    <div class="row h-100">
        <div class="col-lg-3 d-none d-lg-flex align-self-center rounded" style="border: double;height: 13rem;left: 6rem; border-color: chocolate;">
            <div class="col align-self-center">
                <h1>Séwa</h1>
                <p>Depuis les origines</p>
            </div>
        </div>
        <div class="col-lg-8 d-none p-0 m-2 d-lg-flex  h-100 rounded" style="border: double;">
            <div class="col" style="padding: 6rem">
                <h1>Nos conditions</h1>
                <ul class="m-3" style="text-align: justify;">
                    <li>Une participation unique pour tous les membres.</li>
                    <li>Un interval de date pour la reception des participations entre 1 et 12 du chaque mois.</li>
                    <li>Une date unique pour relever la cotisation, le 15 du chaque mois.</li>
                    <li>L'ordre de relève est établi sur un tirage au sort.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm d-lg-none p-0 m-2 d-sm-flex  h-100 rounded" style="border: double;">
        <div class="col">
            <h1 class="h3">Nos conditions</h1>
            <ul class="m-1" style="text-align: justify;">
                <li>Une participation unique pour tous les membres.</li>
                <li>Un interval de date pour la reception des participations entre 1 et 12 du chaque mois.</li>
                <li>Une date unique pour relever la cotisation, le 15 du chaque mois.</li>
                <li>L'ordre de relève est établi sur un tirage au sort.</li>
            </ul>
        </div>
    </div>
</div>

