<div class="carousel-indicators">
  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
<div class="carousel-inner h-100">
  <div class="carousel-item active " style="height: 30rem">
    <div class="h-100" style="background-image: linear-gradient(to right top, #07101e, #04132c, #01143a, #081347, #1a0e51); ">
    </div>
    <div class="h-100">
      <div class="row carousel-caption text-start h-100">
        <div class="col-lg-3 d-flex align-self-center rounded" style="border: double;height: 13rem;left: 6rem; border-color: chocolate;">
          <div class="col align-self-center">
            <h1>Séwa</h1>
            <p>Depuis les origines</p>
          </div>
        </div>
        <div class="col-lg-7 d-none p-0 m-2 d-lg-flex  h-100 rounded" style="border: double;">
          <div class="col" style="padding: 6rem">
            <h1>Nos conditions</h1>
            <ul class="m-3" style="text-align: justify;">
              <li>Une participation unique pour tous les membres.</li>
              <li>Un interval de date pour la reception des participations entre 1 et 12 du chaque mois.</li>
              <li>Une date unique pour relever la cotisation, le 15 du chaque mois.</li>
              <li>L'ordre de relève a été axé sur un tirage au sort.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-item" style="height: 30rem">
    <div class="h-100" style="background-image: linear-gradient(to right top, #07101e, #04132c, #01143a, #081347, #1a0e51);"></div>
    <div class="container" style="display: none">
      <div class="row carousel-caption text-start h-100">
        <div class="col-lg-3 d-flex align-self-center" style="position: relative; top:-7rem;z-index: 999;width: 100%; border: double;height: 13rem;left: 6rem; border-color: chocolate;">

        </div>
        <div class="col-lg-5 d-none p-5 d-lg-flex align-self-center h-80 rounded" style="border: double;">
          <img class="card-img-top"x src="assets/images/flag.jpg" alt="Drapeau centrafricain">
        </div>
        <div class="col-lg-3 d-flex align-self-center bottom-0" style="position: relative; top:7rem;z-index: 999;width: 100%; border: double;height: 13rem;right: 6rem; border-color: chocolate;">

        </div>
      </div>
    </div>
  </div>

  <div class="carousel-item" style="height: 30rem">
    <div class="col-lg-3 d-flex align-self-center bottom-0" style="position: relative; top:7rem;z-index: 999;width: 100%; border: double;height: 20rem;right: -40rem; border-color: chocolate;">

    </div>
    <div class="carousel-caption h-100 w-100">
      <img class="" src="assets/images/slide_1.jpg" style="top: -13em;width: 63%;position: relative; left: -18rem">
    </div>
  </div>
</div>

<button class="carousel-control-prev bg-transparent border-none" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden"></span>
</button>
<button class="carousel-control-next bg-transparent border-none" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden"></span>
</button>