<div class="col text-white">
    <h1>Les participants</h1>
    <p class="d-flex justify-content-center">
        Notre organisation compte neuf(9) membres.
    </p>
</div>
<div class="row d-flex justify-content-center">
    <div class="card m-3" style="width: 18rem; height: 22rem">
        <img class="card-img-top"  style="height:14rem"src="assets/images/mht.jpg" alt="Moussa adji">
        <div class="card-body">
            <h5 class="card-title">Moussa (MHT) ADJI</h5>
            <a href="#1" class="btn btn-primary">Novembre 2021</a>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem; height: 22rem">
        <img class="card-img-top"  style="height:14rem" src="assets/images/pp.jpg" alt="Odilon POUMAYE">
        <div class="card-body">
            <h5 class="card-title">Odilon Djéna (PP) POUMAYE</h5>
            <a href="#2" class="btn btn-primary">Décembre 2021</a>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem; height: 22rem">
        <img class="card-img-top"  style="height:14rem" src="assets/images/user.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Epiphanie</h5>
            <a href="#3" class="btn btn-primary">Janvier 2022</a>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center">
    
    <div class="card m-3" style="width: 18rem; height: 22rem">
        <img class="card-img-top"  style="height:14rem" src="assets/images/user.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Steve</h5>
            <a href="#4" class="btn btn-primary">Février 2022</a>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem; height: 22rem">

        <img class="card-img-top"  style="height:14rem" src="assets/images/cherubin.jpg" alt="Card image cap">

        <div class="card-body">

            <h5 class="card-title">Chérubin NZELETE</h5>

            <a href="#5" class="btn btn-primary">Mars 2022</a>

        </div>

    </div>
    <div class="card m-3" style="width: 18rem; height: 22rem">
        <img class="card-img-top"  style="height:14rem" src="assets/images/ketty.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ephie MAMADOU</h5>
            <a href="#7" class="btn btn-primary">Avril 2022</a>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="card m-3" style="width: 18rem; height: 22rem">
        <img class="card-img-top"  style="height:14rem" src="assets/images/nickson.jpg" alt="Nickson">
        <div class="card-body">
            <h5 class="card-title">Nickson</h5>
            <a href="#7" class="btn btn-primary">Mai 2022</a>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem; height: 22rem">
        <img class="card-img-top"  style="height:14rem" src="assets/images/user.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Kaltouma</h5>
            <a href="#8" class="btn btn-primary">Juin 2022</a>
        </div>
    </div>
    <div class="card m-3" style="width: 18rem; height: 22rem">
        <img class="card-img-top"  style="height:14rem" src="assets/images/dieubeni.jpg" alt="Dieu-béni">
        <div class="card-body">
            <h5 class="card-title">Dieu-béni</h5>
            <a href="#9" class="btn btn-primary">Juillet 2022</a>
        </div>
    </div>
</div>
